#tittle-projects{
    margin-top: 21vh;
    text-align: center;
    color: rgb(25, 190, 36);
}
#section-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    position: relative;
    margin: 2vh;
    margin-top: 5vh;
    width: 600px;
    height: 400px;
    background: linear-gradient(-45deg, #22610b67 0%, #000000 100% );
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);

  }
  
  .card img {
    width: 100%;
    height: 100%;
    fill: #000000;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover {
    transform:scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content {
    position: absolute;

    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover .card__content {
   
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
    max-height: 80%;
    overflow-y: auto;
    word-wrap: break-word;
    padding-right: 8px;
  }

  .card_footer{
    margin-top: auto;
   
  }

  .card_footer button{
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
    background-color: rgb(6, 6, 157);
    color: white;
    border: none;
  }

  .card_footer button:hover{
    background-color: rgb(4, 4, 104);
  }
  
  .card:hover img {
    scale: 0;
    transform: rotate(-45deg);
  }
  

  #btn-mp {
    box-shadow: 0px 4px 8px rgb(7, 57, 10);
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: white;
    background-color: rgb(0, 100, 8);
    font-size: 22px;
    border: none;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
  
  #btn-mp:hover {
    background-color: rgb(0, 60, 5);
    color: white;
    scale: 1.1;
    box-shadow: 0px 4px 8px rgba(214, 214, 214, 0.4);
    border-color: rgba(255, 255, 255, 0.5);
  }
  
  
  
